@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

@layer base {
    /*primitives*/
    :root {
        /* color */
        --colors-common-black: 0 0 0%;
        --colors-common-white: 0 0 100%;
        --colors-common-blue-100: 212 92% 90%;
        --colors-common-blue-200: 212 92% 79%;
        --colors-common-blue-300: 212 92% 69%;
        --colors-common-blue-400: 212 92% 58%;
        --colors-common-blue-50: 213 92% 95%;
        --colors-common-blue-500: 212 100% 47%;
        --colors-common-blue-600: 212 100% 38%;
        --colors-common-blue-700: 212 100% 29%;
        --colors-common-blue-800: 212 100% 19%;
        --colors-common-blue-900: 212 100% 10%;
        --colors-common-cyan-100: 190 92% 95%;
        --colors-common-cyan-200: 189 95% 92%;
        --colors-common-cyan-300: 189 94% 88%;
        --colors-common-cyan-400: 190 96% 82%;
        --colors-common-cyan-50: 192 100% 97%;
        --colors-common-cyan-500: 190 95% 74%;
        --colors-common-cyan-600: 190 95% 44%;
        --colors-common-cyan-700: 191 92% 42%;
        --colors-common-cyan-800: 192 85% 36%;
        --colors-common-cyan-900: 192 87% 15%;
        --colors-common-flat-danger-500-flat: 339 90% 51% / 0.2;
        --colors-common-flat-default-300-flat: 240 5% 84% / 0.4;
        --colors-common-flat-default-700-flat: 240 5% 26% / 0.4;
        --colors-common-flat-primary-500-flat: 212 100% 47% / 0.2;
        --colors-common-flat-secondary-400-flat: 270 59% 58% / 0.2;
        --colors-common-flat-secondary-500-flat: 270 67% 47% / 0.2;
        --colors-common-flat-success-500-flat: 146 79% 44% / 0.2;
        --colors-common-flat-warning-500-flat: 37 91% 55% / 0.2;
        --colors-common-green-100: 146 61% 89%;
        --colors-common-green-200: 146 62% 77%;
        --colors-common-green-300: 146 63% 66%;
        --colors-common-green-400: 146 62% 55%;
        --colors-common-green-50: 147 64% 95%;
        --colors-common-green-500: 146 79% 44%;
        --colors-common-green-600: 146 80% 35%;
        --colors-common-green-700: 146 79% 26%;
        --colors-common-green-800: 146 80% 17%;
        --colors-common-green-900: 146 78% 9%;
        --colors-common-pink-100: 317 100% 93%;
        --colors-common-pink-200: 317 100% 86%;
        --colors-common-pink-300: 317 100% 79%;
        --colors-common-pink-400: 317 100% 72%;
        --colors-common-pink-50: 317 100% 96%;
        --colors-common-pink-500: 317 100% 65%;
        --colors-common-pink-600: 317 58% 52%;
        --colors-common-pink-700: 317 53% 39%;
        --colors-common-pink-800: 317 53% 26%;
        --colors-common-pink-900: 317 52% 13%;
        --colors-common-purple-100: 270 59% 89%;
        --colors-common-purple-200: 270 59% 79%;
        --colors-common-purple-300: 270 59% 68%;
        --colors-common-purple-400: 270 59% 58%;
        --colors-common-purple-50: 270 62% 95%;
        --colors-common-purple-500: 270 67% 47%;
        --colors-common-purple-600: 270 67% 38%;
        --colors-common-purple-700: 270 67% 28%;
        --colors-common-purple-800: 270 67% 19%;
        --colors-common-purple-900: 270 67% 9%;
        --colors-common-red-100: 340 92% 90%;
        --colors-common-red-200: 339 90% 80%;
        --colors-common-red-300: 339 91% 71%;
        --colors-common-red-400: 339 90% 61%;
        --colors-common-red-50: 339 92% 95%;
        --colors-common-red-500: 339 90% 51%;
        --colors-common-red-600: 339 87% 41%;
        --colors-common-red-700: 339 86% 31%;
        --colors-common-red-800: 339 87% 20%;
        --colors-common-red-900: 340 85% 10%;
        --colors-common-yellow-100: 37 91% 91%;
        --colors-common-yellow-200: 37 91% 82%;
        --colors-common-yellow-300: 37 91% 73%;
        --colors-common-yellow-400: 37 91% 64%;
        --colors-common-yellow-50: 55 92% 95%;
        --colors-common-yellow-500: 37 91% 55%;
        --colors-common-yellow-600: 37 74% 44%;
        --colors-common-yellow-700: 37 74% 33%;
        --colors-common-yellow-800: 37 75% 22%;
        --colors-common-yellow-900: 37 75% 11%;
        --colors-common-zinc-100: 240 5% 96%;
        --colors-common-zinc-200: 240 6% 90%;
        --colors-common-zinc-300: 240 5% 84%;
        --colors-common-zinc-400: 240 5% 65%;
        --colors-common-zinc-50: 0 0 98%;
        --colors-common-zinc-500: 240 4% 46%;
        --colors-common-zinc-600: 240 5% 34%;
        --colors-common-zinc-700: 240 5% 26%;
        --colors-common-zinc-800: 240 4% 16%;
        --colors-common-zinc-900: 240 6% 10%;
        /* number */
        --units-unit-0: 0rem;
        --units-unit: 0.25rem;
        --units-unit-2: 0.5rem;
        --units-unit-xs: 0.5rem;
        --units-unit-3: 0.75rem;
        --units-unit-sm: 0.75rem;
        --units-unit-3-5: 0.875rem;
        --units-unit-4: 1rem;
        --units-unit-md: 1rem;
        --units-unit-5: 1.25rem;
        --units-unit-lg: 1.375rem;
        --units-unit-6: 1.5rem;
        --units-unit-7: 1.75rem;
        --units-unit-8: 2rem;
        --units-unit-9: 2.25rem;
        --units-unit-xl: 2.25rem;
        --units-unit-10: 2.5rem;
        --units-unit-11: 2.75rem;
        --units-unit-12: 3rem;
        --units-unit-2xl: 3rem;
        --units-unit-13: 3.25rem;
        --units-unit-14: 3.5rem;
        --units-unit-15: 3.75rem;
        --units-unit-16: 4rem;
        --units-unit-17: 4.25rem;
        --units-unit-18: 4.5rem;
        --units-unit-20: 5rem;
        --units-unit-3xl: 5rem;
        --units-unit-24: 6rem;
        --units-unit-28: 7rem;
        --units-unit-4xl: 7.5rem;
        --units-unit-32: 8rem;
        --units-unit-36: 9rem;
        --units-unit-40: 10rem;
        --units-unit-44: 11rem;
        --units-unit-48: 12rem;
        --units-unit-52: 13rem;
        --units-unit-56: 14rem;
        --units-unit-5xl: 14rem;
        --units-unit-60: 15rem;
        --units-unit-64: 16rem;
        --units-unit-6xl: 18rem;
        --units-unit-72: 18rem;
        --units-unit-80: 20rem;
        --units-unit-7xl: 24rem;
        --units-unit-96: 24rem;
        --units-unit-8xl: 32rem;
        --units-unit-9xl: 40rem;
    }
}

:root {
    /* light */
    /* color */
    --colors-base-danger: var(--colors-common-red-500);
    --colors-base-danger-100: var(--colors-common-red-100);
    --colors-base-danger-200: var(--colors-common-red-200);
    --colors-base-danger-300: var(--colors-common-red-300);
    --colors-base-danger-400: var(--colors-common-red-400);
    --colors-base-danger-50: var(--colors-common-red-50);
    --colors-base-danger-500: var(--colors-common-red-500);
    --colors-base-danger-600: var(--colors-common-red-600);
    --colors-base-danger-700: var(--colors-common-red-700);
    --colors-base-danger-800: var(--colors-common-red-800);
    --colors-base-danger-900: var(--colors-common-red-900);
    --colors-base-danger-foreground: var(--colors-common-white);
    --colors-base-default: var(--colors-common-zinc-300);
    --colors-base-default-100: var(--colors-common-zinc-100);
    --colors-base-default-200: var(--colors-common-zinc-200);
    --colors-base-default-300: var(--colors-common-zinc-300);
    --colors-base-default-400: var(--colors-common-zinc-400);
    --colors-base-default-50: var(--colors-common-zinc-50);
    --colors-base-default-500: var(--colors-common-zinc-500);
    --colors-base-default-600: var(--colors-common-zinc-600);
    --colors-base-default-700: var(--colors-common-zinc-700);
    --colors-base-default-800: var(--colors-common-zinc-800);
    --colors-base-default-900: var(--colors-common-zinc-900);
    --colors-base-default-foreground: var(--colors-common-black);
    --colors-base-force-dark: var(--colors-layout-background);
    --colors-base-primary: var(--colors-common-yellow-500);
    --colors-base-primary-100: var(--colors-common-blue-100);
    --colors-base-primary-200: var(--colors-common-yellow-200);
    --colors-base-primary-300: var(--colors-common-yellow-200);
    --colors-base-primary-400: var(--colors-common-yellow-400);
    --colors-base-primary-50: var(--colors-common-blue-50);
    --colors-base-primary-500: var(--colors-common-yellow-500);
    --colors-base-primary-600: var(--colors-common-yellow-600);
    --colors-base-primary-700: var(--colors-common-yellow-600);
    --colors-base-primary-800: var(--colors-common-yellow-800);
    --colors-base-primary-900: var(--colors-common-yellow-900);
    --colors-base-primary-foreground: var(--colors-common-zinc-900);
    --colors-base-secondary: var(--colors-common-purple-400);
    --colors-base-secondary-100: var(--colors-common-purple-100);
    --colors-base-secondary-200: var(--colors-common-purple-200);
    --colors-base-secondary-300: var(--colors-common-purple-300);
    --colors-base-secondary-400: var(--colors-common-purple-400);
    --colors-base-secondary-50: var(--colors-common-purple-50);
    --colors-base-secondary-500: var(--colors-common-purple-500);
    --colors-base-secondary-600: var(--colors-common-purple-600);
    --colors-base-secondary-700: var(--colors-common-purple-700);
    --colors-base-secondary-800: var(--colors-common-purple-800);
    --colors-base-secondary-900: var(--colors-common-purple-900);
    --colors-base-secondary-foreground: var(--colors-common-white);
    --colors-base-success: var(--colors-common-green-500);
    --colors-base-success-100: var(--colors-common-green-100);
    --colors-base-success-200: var(--colors-common-green-200);
    --colors-base-success-300: var(--colors-common-green-300);
    --colors-base-success-400: var(--colors-common-green-400);
    --colors-base-success-50: var(--colors-common-green-50);
    --colors-base-success-500: var(--colors-common-green-500);
    --colors-base-success-600: var(--colors-common-green-600);
    --colors-base-success-700: var(--colors-common-green-700);
    --colors-base-success-800: var(--colors-common-green-800);
    --colors-base-success-900: var(--colors-common-green-800);
    --colors-base-success-foreground: var(--colors-common-black);
    --colors-base-warning: var(--colors-common-yellow-500);
    --colors-base-warning-100: var(--colors-common-yellow-100);
    --colors-base-warning-200: var(--colors-common-yellow-200);
    --colors-base-warning-300: var(--colors-common-yellow-300);
    --colors-base-warning-400: var(--colors-common-yellow-400);
    --colors-base-warning-50: var(--colors-common-yellow-50);
    --colors-base-warning-500: var(--colors-common-yellow-500);
    --colors-base-warning-600: var(--colors-common-yellow-600);
    --colors-base-warning-700: var(--colors-common-yellow-700);
    --colors-base-warning-800: var(--colors-common-yellow-800);
    --colors-base-warning-900: var(--colors-common-yellow-900);
    --colors-base-warning-foreground: var(--colors-common-black);
    --colors-content-content1: var(--colors-common-white);
    --colors-content-content1-foreground: 202 24% 9%;
    --colors-content-content2: var(--colors-common-zinc-100);
    --colors-content-content2-foreground: var(--colors-common-zinc-800);
    --colors-content-content3: var(--colors-common-zinc-300);
    --colors-content-content3-foreground: var(--colors-common-zinc-700);
    --colors-content-content4: var(--colors-common-zinc-300);
    --colors-content-content4-foreground: var(--colors-common-zinc-600);
    --colors-flat-danger-flat: var(--colors-common-flat-danger-500-flat);
    --colors-flat-default-flat: var(--colors-common-flat-default-300-flat);
    --colors-flat-primary-flat: var(--colors-common-flat-warning-500-flat);
    --colors-flat-secondary-flat: var(--colors-common-flat-secondary-500-flat);
    --colors-flat-success-flat: var(--colors-common-flat-success-500-flat);
    --colors-flat-warning-flat: var(--colors-common-flat-warning-500-flat);
    --colors-layout-background: 35 9% 93%;
    --colors-layout-divider: 0 0 7% / 0.15;
    --colors-layout-focus: var(--colors-common-blue-500);
    --colors-layout-focus-op-20: 212 100% 47% / 0.2;
    --colors-layout-foreground: 202 24% 9%;
    --colors-layout-foreground-100: var(--colors-common-zinc-100);
    --colors-layout-foreground-200: var(--colors-common-zinc-200);
    --colors-layout-foreground-300: var(--colors-common-zinc-300);
    --colors-layout-foreground-400: var(--colors-common-zinc-400);
    --colors-layout-foreground-50: var(--colors-common-zinc-50);
    --colors-layout-foreground-500: var(--colors-common-zinc-500);
    --colors-layout-foreground-600: var(--colors-common-zinc-600);
    --colors-layout-foreground-700: var(--colors-common-zinc-700);
    --colors-layout-foreground-800: var(--colors-common-zinc-800);
    --colors-layout-foreground-900: var(--colors-common-zinc-900);
    --colors-layout-overlay: 0 0 0% / 0.3;
    /* number */
    --layout-disabled-opacity: 0.03125rem;
    --layout-divider-weight: 0.0625rem;
    --layout-border-width-border-small: 0.0625rem;
    --layout-border-width-border-medium: 0.125rem;
    --layout-border-width-border-large: 0.1875rem;
    --layout-font-size-text-tiny: 0.75rem;
    --layout-font-size-text-small: 0.875rem;
    --layout-font-size-text-medium: 1rem;
    --layout-font-size-text-large: 1.125rem;
    --layout-line-height-leading-tiny: 1rem;
    --layout-line-height-leading-small: 1.25rem;
    --layout-line-height-leading-medium: 1.5rem;
    --layout-line-height-leading-large: 1.75rem;
    --layout-radius-rounded-small: 0.5rem;
    --layout-radius-rounded-medium: 0.75rem;
    --layout-radius-rounded-large: 0.875rem;
    --layout-radius-rounded-full: 624.9375rem;
}
/* Tokens */
.dark {
  /* dark */
  /* color */
  --colors-base-danger: var(--colors-common-red-500);
  --colors-base-danger-100: var(--colors-common-red-800);
  --colors-base-danger-200: var(--colors-common-red-700);
  --colors-base-danger-300: var(--colors-common-red-600);
  --colors-base-danger-400: var(--colors-common-red-500);
  --colors-base-danger-50: var(--colors-common-red-900);
  --colors-base-danger-500: var(--colors-common-red-400);
  --colors-base-danger-600: var(--colors-common-red-300);
  --colors-base-danger-700: var(--colors-common-red-200);
  --colors-base-danger-800: var(--colors-common-red-100);
  --colors-base-danger-900: var(--colors-common-red-50);
  --colors-base-danger-foreground: var(--colors-common-white);
  --colors-base-default: var(--colors-common-zinc-700);
  --colors-base-default-100: var(--colors-common-zinc-800);
  --colors-base-default-200: var(--colors-common-zinc-700);
  --colors-base-default-300: var(--colors-common-zinc-600);
  --colors-base-default-400: var(--colors-common-zinc-500);
  --colors-base-default-50: var(--colors-common-zinc-900);
  --colors-base-default-500: var(--colors-common-zinc-400);
  --colors-base-default-600: var(--colors-common-zinc-300);
  --colors-base-default-700: var(--colors-common-zinc-200);
  --colors-base-default-800: var(--colors-common-zinc-100);
  --colors-base-default-900: var(--colors-common-zinc-50);
  --colors-base-default-foreground: var(--colors-common-white);
  --colors-base-force-dark: var(--colors-base-default);
  --colors-base-primary: var(--colors-common-yellow-500);
  --colors-base-primary-100: var(--colors-common-yellow-800);
  --colors-base-primary-200: var(--colors-common-yellow-700);
  --colors-base-primary-300: var(--colors-common-yellow-600);
  --colors-base-primary-400: var(--colors-common-yellow-500);
  --colors-base-primary-50: var(--colors-common-yellow-900);
  --colors-base-primary-500: var(--colors-common-yellow-400);
  --colors-base-primary-600: var(--colors-common-yellow-300);
  --colors-base-primary-700: var(--colors-common-yellow-200);
  --colors-base-primary-800: var(--colors-common-yellow-100);
  --colors-base-primary-900: var(--colors-common-yellow-50);
  --colors-base-primary-foreground: var(--colors-common-zinc-900);
  --colors-base-secondary: var(--colors-common-purple-400);
  --colors-base-secondary-100: var(--colors-common-purple-800);
  --colors-base-secondary-200: var(--colors-common-purple-700);
  --colors-base-secondary-300: var(--colors-common-purple-600);
  --colors-base-secondary-400: var(--colors-common-purple-500);
  --colors-base-secondary-50: var(--colors-common-purple-900);
  --colors-base-secondary-500: var(--colors-common-purple-400);
  --colors-base-secondary-600: var(--colors-common-purple-300);
  --colors-base-secondary-700: var(--colors-common-purple-200);
  --colors-base-secondary-800: var(--colors-common-purple-100);
  --colors-base-secondary-900: var(--colors-common-purple-50);
  --colors-base-secondary-foreground: var(--colors-common-white);
  --colors-base-success: var(--colors-common-green-500);
  --colors-base-success-100: var(--colors-common-green-800);
  --colors-base-success-200: var(--colors-common-green-700);
  --colors-base-success-300: var(--colors-common-green-600);
  --colors-base-success-400: var(--colors-common-green-500);
  --colors-base-success-50: var(--colors-common-green-900);
  --colors-base-success-500: var(--colors-common-green-400);
  --colors-base-success-600: var(--colors-common-green-300);
  --colors-base-success-700: var(--colors-common-green-200);
  --colors-base-success-800: var(--colors-common-green-100);
  --colors-base-success-900: var(--colors-common-green-50);
  --colors-base-success-foreground: var(--colors-common-black);
  --colors-base-warning: var(--colors-common-yellow-500);
  --colors-base-warning-100: var(--colors-common-yellow-800);
  --colors-base-warning-200: var(--colors-common-yellow-700);
  --colors-base-warning-300: var(--colors-common-yellow-600);
  --colors-base-warning-400: var(--colors-common-yellow-500);
  --colors-base-warning-50: var(--colors-common-yellow-900);
  --colors-base-warning-500: var(--colors-common-yellow-400);
  --colors-base-warning-600: var(--colors-common-yellow-300);
  --colors-base-warning-700: var(--colors-common-yellow-200);
  --colors-base-warning-800: var(--colors-common-yellow-100);
  --colors-base-warning-900: var(--colors-common-yellow-50);
  --colors-base-warning-foreground: var(--colors-common-black);
  --colors-content-content1: var(--colors-common-zinc-900);
  --colors-content-content1-foreground: var(--colors-common-zinc-50);
  --colors-content-content2: var(--colors-common-zinc-800);
  --colors-content-content2-foreground: var(--colors-common-zinc-100);
  --colors-content-content3: var(--colors-common-zinc-700);
  --colors-content-content3-foreground: var(--colors-common-zinc-200);
  --colors-content-content4: var(--colors-common-zinc-600);
  --colors-content-content4-foreground: var(--colors-common-zinc-300);
  --colors-flat-danger-flat: var(--colors-common-flat-danger-500-flat);
  --colors-flat-default-flat: var(--colors-common-flat-default-700-flat);
  --colors-flat-primary-flat: var(--colors-common-flat-warning-500-flat);
  --colors-flat-secondary-flat: var(--colors-common-flat-secondary-400-flat);
  --colors-flat-success-flat: var(--colors-common-flat-success-500-flat);
  --colors-flat-warning-flat: var(--colors-common-flat-warning-500-flat);
  --colors-layout-background: 0 0 8%;
  --colors-layout-divider: 0 0 100% / 0.15;
  --colors-layout-focus: var(--colors-common-blue-500);
  --colors-layout-focus-op-20: 212 100% 47% / 0.2;
  --colors-layout-foreground: 210 6% 93%;
  --colors-layout-foreground-100: var(--colors-common-zinc-800);
  --colors-layout-foreground-200: var(--colors-common-zinc-700);
  --colors-layout-foreground-300: var(--colors-common-zinc-600);
  --colors-layout-foreground-400: var(--colors-common-zinc-500);
  --colors-layout-foreground-50: var(--colors-common-zinc-900);
  --colors-layout-foreground-500: var(--colors-common-zinc-400);
  --colors-layout-foreground-600: var(--colors-common-zinc-300);
  --colors-layout-foreground-700: var(--colors-common-zinc-200);
  --colors-layout-foreground-800: var(--colors-common-zinc-100);
  --colors-layout-foreground-900: var(--colors-common-zinc-50);
  --colors-layout-overlay: 0 0 0% / 0.3;
  /* number */
  --layout-disabled-opacity: 0.03125rem;
  --layout-divider-weight: 0.0625rem;
  --layout-border-width-border-small: 0.0625rem;
  --layout-border-width-border-medium: 0.125rem;
  --layout-border-width-border-large: 0.1875rem;
  --layout-font-size-text-tiny: 0.75rem;
  --layout-font-size-text-small: 0.875rem;
  --layout-font-size-text-medium: 1rem;
  --layout-font-size-text-large: 1.125rem;
  --layout-line-height-leading-tiny: 1rem;
  --layout-line-height-leading-small: 1.25rem;
  --layout-line-height-leading-medium: 1.5rem;
  --layout-line-height-leading-large: 1.75rem;
  --layout-radius-rounded-small: 0.5rem;
  --layout-radius-rounded-medium: 0.75rem;
  --layout-radius-rounded-large: 0.875rem;
  --layout-radius-rounded-full: 624.9375rem;
}

@layer base {
    * {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        background-color: var(--colors-layout-background);
    }
}